# Introduction to Python

In this lesson we will learn the basics of the Python programming language (version 3). We won't learn everything about Python but enough to do some basic machine learning.

<img src="figures/python.png" width=350>

#  Variables

Variables are objects in Python that can hold anything with numbers or text. Let's look at how to create some variables.

In [1]:
# Numerical example
x = 3  #changed from 5 to 3
print (x)

5

In [2]:
# Text example
x = "MST 688 is the best" #Changed text from hello to current string
print (x)

MST 688 is the best

In [4]:
# Variables can be used with each other
a = 1
b = 2
c = a + b
d = 2 # added d variable and update print to multiply c * d
print (c * d)

6

Variables can come in lots of different types. Even within numerical variables, you can have integers (int), floats (float), etc. All text based variables are of type string (str). We can see what type a variable is by printing its type.

In [7]:
# int variable
x = 6 # changed from 5 to 6
print (x)
print (type(x))

# float variable
x = 5.0
print (x)
print (type(x))

# text variable
x = "5" 
print (x)
print (type(x))

# boolean variable
x = True
print (x)
print (type(x))

6
<class 'int'>
5.0
<class 'float'>
5
<class 'str'>
True
<class 'bool'>

It's good practice to know what types your variables are. When you want to use numerical operations on them, they need to be compatible.

In [8]:
# int variables
a = 5
b = 3
print (a + b)

# string variables
a = "5"
b = "3"
c = "c" # added variable c
print (a + b + c) # updated to include c

8
53c

#  Lists

Lists are objects in Python that can hold a ordered sequence of numbers **and** text.

In [9]:
# Creating a list
list_x = [3, "hello", 1, 2.3] # added 4th value of 2.3
print (list_x)

[3, 'hello', 1, 2.3]

In [11]:
# Adding to a list
list_x.append(8) #changed from 7 to 8
print (list_x)

[3, 'hello', 1, 2.3, 8]

In [13]:
# Accessing items at specific location in a list
print ("list_x[0]: ", list_x[0])
print ("list_x[1]: ", list_x[1])
print ("list_x[2]: ", list_x[2])
print ("list_x[3]: ", list_x[3]) # added line to print the 4th item in list
print ("list_x[-1]: ", list_x[-1]) # the last item
print ("list_x[-2]: ", list_x[-2]) # the second to last item

list_x[0]:  3
list_x[1]:  hello
list_x[2]:  1
list_x[3]:  2.3
list_x[-1]:  8
list_x[-2]:  2.3

In [14]:
# Slicing
print ("list_x[:]: ", list_x[:])
print ("list_x[2:]: ", list_x[2:])
print ("list_x[1:3]: ", list_x[1:3])
print ("list_x[:-1]: ", list_x[:-1])
print ("list_x[:-2]: ", list_x[:-2]) #added print to print first to second to last item

list_x[:]:  [3, 'hello', 1, 2.3, 8]
list_x[2:]:  [1, 2.3, 8]
list_x[1:3]:  ['hello', 1]
list_x[:-1]:  [3, 'hello', 1, 2.3]
list_x[:-2]:  [3, 'hello', 1]

In [15]:
# Length of a list
len(list_x)

5

In [16]:
# Replacing items in a list
list_x[1] = "new" # changed string from hi to new
print (list_x)

[3, 'new', 1, 2.3, 8]

In [18]:
# Combining lists
list_y = [2.4, "world", 12] # added list element 12
list_z = list_x + list_y
print ("list_z is: ", list_z) #added text to print command

list_z is:  [3, 'new', 1, 2.3, 8, 2.4, 'world', 12]

# Tuples

Tuples are also objects in Python that can hold data but you cannot replace their values (for this reason, tuples are called immutable, whereas lists are known as mutable).

In [19]:
# Creating a tuple
tuple_x = (3.0, "hello", "world") # add world entry
print (tuple_x)

(3.0, 'hello', 'world')

In [21]:
# Adding values to a tuple
tuple_x = tuple_x + (5.6,)
print ("Tuple X contains: ", tuple_x) # add formating text

Tuple X contains:  (3.0, 'hello', 'world', 5.6, 5.6)

In [22]:
# Trying to change a tuples value (you can't, this should produce an error.)
tuple_x[2] = "python" # changed 1 to 2 and text from world to python

TypeError: 'tuple' object does not support item assignment

# Dictionaries

Dictionaries are Python objects that hold key-value pairs. In the example dictionary below, the keys are the "name" and "eye_color" variables. They each have a value associated with them. A dictionary cannot have two of the same keys.

In [24]:
# Creating a dictionary
dog = {"name": "dog",
        "eye_color": "brown",
        "breed": "retreiver"} # add breed key
print (dog)
print (dog["name"])
print (dog["eye_color"])
print (dog["breed"]) # print breed

{'name': 'dog', 'eye_color': 'brown', 'breed': 'retreiver'}
dog
brown
retreiver

In [25]:
# Changing the value for a key
dog["breed"] = "labradour" # change eye color update to breed update
print (dog)

{'name': 'dog', 'eye_color': 'brown', 'breed': 'labradour'}

In [26]:
# Adding new key-value pairs
dog["age"] = 4 # changed 5 to 4
print (dog)

{'name': 'dog', 'eye_color': 'brown', 'breed': 'labradour', 'age': 4}

In [27]:
# Length of a dictionary
print (len(dog))

4

# If statements

You can use `if` statements to conditionally do something.

In [29]:
# If statement
x = 6 # changed 4 to 6
if x < 1:
    score = "low"
elif x <= 4:
    score = "medium"
else:
    score = "high"
print (score)

high

In [34]:
# If statment with a boolean
x = False # changed value from True to False
if x:
    print ("it worked")
else:
    print ("it did not work") # add else for False state

it did not work

# Loops

In Python, you can use `for` loop to iterate over the elements of a sequence such as a list or tuple, or use `while` loop to do something repeatedly as long as a condition holds.

In [37]:
# For loop
x = 3 # change x from 1 to 3
for i in range(3): # goes from i=0 to i=2
    x *= 2 # switch method of update from addition to multiplication
    print ("i={0}, x={1}".format(i, x)) # printing with multiple variables

i=0, x=6
i=1, x=12
i=2, x=24

In [38]:
# Loop through items in a list
x = 1
for i in [0, 1, 2, 3]: # add 3 to extend range
    x += 1
    print ("i={0}, x={1}".format(i, x))

i=0, x=2
i=1, x=3
i=2, x=4
i=3, x=5

In [39]:
# While loop
x = 5 # changed from 3 to 5
while x > 0:
    x -= 1 # same as x = x - 1
    print (x)

4
3
2
1
0

# Functions

Functions are a way to modularize reusable pieces of code.

In [41]:
# Create a function
def add_two(x):
    x += 2
    return x

# Use the function
score = 4 # changed from 0 to 4 for starting score
score = add_two(x=score)
print (score)

6

In [42]:
# Function with multiple inputs
def join_name(first_name, last_name):
    joined_name = first_name + " " + last_name
    return joined_name

# Use the function
first_name = "Jane" # switched from John to Jane
last_name = "Doe"
joined_name = join_name(first_name=first_name, last_name=last_name)
print (joined_name)

Jane Doe

# Classes

Classes are a fundamental piece of object oriented programming in Python.

In [43]:
# Creating the class
class Pets(object):
  
    # Initialize the class
    def __init__(self, species, color, name):
        self.species = species
        self.color = color
        self.name = name

    # For printing  
    def __str__(self):
        return "{0} {1} named {2}.".format(self.color, self.species, self.name)

    # Example function
    def change_name(self, new_name):
        self.name = new_name

In [44]:
# Creating an instance of a class
my_dog = Pets(species="dog", color="orange", name="Benji",) # changed name from Rover to Benji
print (my_dog)
print (my_dog.name)

orange dog named Benji.
Benji

In [45]:
# Using a class's function
my_dog.change_name(new_name="Pongo") # changed Sparky to Pongo
print (my_dog)
print (my_dog.name)

orange dog named Pongo.
Pongo

# Additional resources

This was a very quick look at Python and we'll be learning more in future lessons. If you want to learn more right now before diving into machine learning, check out this free course: [Free Python Course](https://www.codecademy.com/learn/learn-python)